.countdown {
  display: inline-block;
  margin-top: 11px;
  padding: 5px 12px;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #ddd;
}

.countdown__letter {
  font-size: 20px;
  margin-right: 18px;
}

.countdown__letter:last-child {
  margin-right: 0;
}

.countdown__number {
  font-size: 34px;
}
