@import '~reset-css/sass/_reset.scss'

body
  font-family: $font_family

header 
  margin-top: space_unit(1)

  text-align: center

  color: map-get($text_colors, "secondary")

  font-size: font_unit(2)
  line-height: space_unit(3)

main 
  display: flex
  align-items: center
  flex-direction: column

.suns 
  display: flex
  flex-wrap: wrap
  justify-content: center

.sun 
  display: inline-block

  margin: space_unit(1)
  padding: space_unit(1)

  text-align: center

  border: 1px solid lighten(map-get($text_colors, "secondary"), 80%)
  border-radius: 2px

  line-height: space_unit(3)

.sun__time 
  display: block

  color: map-get($text_colors, "primary")

  font-size: font_unit(3)

.sun__name 
  color: map-get($text_colors, "secondary")

  font-size: font_unit(1)

